/* styles.css */
/* Style for the form and table */
form {
    margin: 20px auto;
    width: 80%;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.styled-table td {
    padding: 10px;
}

.styled-table label {
    font-weight: bold;
}

.styled-table input[type="file"] {
    margin-top: 5px;
}

.styled-table select,
.styled-table input[type="text"],
.styled-table input[type="password"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.styled-table button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.styled-table button:hover {
    background-color: #45a049;
}
