<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>research_reg</servlet-name>
        <servlet-class>research_reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>research_login</servlet-name>
        <servlet-class>research_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insurances</servlet-name>
        <servlet-class>insurances</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insurance_login</servlet-name>
        <servlet-class>insurance_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prediction</servlet-name>
        <servlet-class>prediction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patient_rply</servlet-name>
        <servlet-class>patient_rply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>habe</servlet-name>
        <servlet-class>habe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rply2</servlet-name>
        <servlet-class>rply2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>banking_reg</servlet-name>
        <servlet-class>banking_reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>banking</servlet-name>
        <servlet-class>banking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment1</servlet-name>
        <servlet-class>payment1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Send_mail</servlet-name>
        <servlet-class>Send_mail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apply</servlet-name>
        <servlet-class>apply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emergency</servlet-name>
        <servlet-class>emergency</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emer</servlet-name>
        <servlet-class>emer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>donar_register</servlet-name>
        <servlet-class>donar_register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>organ</servlet-name>
        <servlet-class>organ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>research_reg</servlet-name>
        <url-pattern>/research_reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>research_login</servlet-name>
        <url-pattern>/research_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insurances</servlet-name>
        <url-pattern>/insurances</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insurance_login</servlet-name>
        <url-pattern>/insurance_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prediction</servlet-name>
        <url-pattern>/prediction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patient_rply</servlet-name>
        <url-pattern>/patient_rply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>habe</servlet-name>
        <url-pattern>/habe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rply2</servlet-name>
        <url-pattern>/rply2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>banking_reg</servlet-name>
        <url-pattern>/banking_reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>banking</servlet-name>
        <url-pattern>/banking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment1</servlet-name>
        <url-pattern>/payment1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Send_mail</servlet-name>
        <url-pattern>/Send_mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apply</servlet-name>
        <url-pattern>/apply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emergency</servlet-name>
        <url-pattern>/emergency</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emer</servlet-name>
        <url-pattern>/emer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>donar_register</servlet-name>
        <url-pattern>/donar_register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>organ</servlet-name>
        <url-pattern>/organ</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
